@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
    max-width: 800px;
    margin: 0px auto;
}

ul :hover{
    text-decoration: underline;
}
nav{
    background-color:rgb(203, 235, 241);
}

body{
    margin: 0px;
}

ul li{
    padding: 12px;
}

li a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

#home{
    margin-right: auto;
}

.dropdown_container {
    position: relative;
}
.dropdown_menu{
    background-color:#6f5b95;
    position: absolute;
    flex-direction: column;
    width: 200;
    left: 0px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
        transition: 
        opacity 0.5s,
        visibility 0.5s,
        top 0.5s
}
.dropdown_container:hover .dropdown_menu{
    opacity: 1;
    visibility: visible;
    top: 100%
}

.dropdown_container {
    position: relative;
}

.dropdown_container:hover .dropdown_menu{
    opacity: 1;
    visibility: visible;
    top: 100%
}

img{
    width: 50px;
}


#hero{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color:black;
    position: relative;
    z-index: -10;
    overflow-y: hidden;
}

#hero #carousel{
    position: absolute;
    top: 0px;
    width:100%;
    z-index: -1;
}

#hero a:hover,
.card a:hover{
    transform: scale(1.1);
}

.card{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

#two_cards{
    display: flex;
}

#two_cards .card{
    flex: 1;
}


.btn.btn-primary{
    background-color: #6f5b95;
    border-color: #6f5b95;
}

.card{
    border: 2px solid #6f5b95;
    color: black;
    margin: 48px 24px 24px;
    padding: 12px 12px 24px;
    text-align: center;
    box-shadow: 4px 4px 8px 0px grey;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 24px 0px;
    }