.wiki_image{
    width:250px;
}
.wiki_image img{
    width: 100%;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

nav a{
    padding-left: 25px;
    color:black;
}

nav1 a{
    padding-right:25px;
    color:black;
    float: right;
    margin: 2px;
}   

.flexbox{
    display: flex;

}

p{
    margin: 30px;
}

h6{
    margin:30px;
}

h5{
    margin: 25px;
}

h3{
    margin:25px;
}

h1{
    margin:25px;
}